# .yamllint checks YAML syntax and style. Useful for stack files, variable files, and playbooks.

extends: default

ignore: |
  .github/workflows/ci-cd.yml

rules:
  line-length:
    max: 250      # Max characters per line
    level: warning

  indentation:
    spaces: 2
    level: error

  trailing-spaces:
    level: error

  document-start:
    present: false

  comments-indentation:
    level: warning
