version: "3.9"

networks:
  wazuh-net:
    external: true

secrets:
  wazuh_api_user:
    external: true
    name: "{{ secret_names.wazuh_api_user }}"
  wazuh_api_password:
    external: true
    name: "{{ secret_names.wazuh_api_password }}"
  dashboard_tls_key:
    external: true
    name: "{{ secret_names.dashboard_tls_key }}"
  dashboard_tls_crt:
    external: true
    name: "{{ secret_names.dashboard_tls_crt }}"

services:
  wazuh-manager:
    image: "{{ wazuh_image_manager }}"
    networks:
      - wazuh-net
    secrets:
      - source: wazuh_api_user
        target: wazuh_api_user
        mode: 0400
      - source: wazuh_api_password
        target: wazuh_api_password
        mode: 0400
    environment:
      WAZUH_API_USER_FILE: "/run/secrets/wazuh_api_user"
      WAZUH_API_PASSWORD_FILE: "/run/secrets/wazuh_api_password"
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.labels.role == worker
      update_config:
        parallelism: 1
        delay: 10s
        failure_action: rollback
      rollback_config:
        parallelism: 1
        delay: 10s

  wazuh-indexer:
    image: "{{ wazuh_image_indexer }}"
    networks:
      - wazuh-net
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.labels.role == worker
      update_config:
        parallelism: 1
        delay: 10s
        failure_action: rollback
      rollback_config:
        parallelism: 1
        delay: 10s

  wazuh-dashboard:
    image: "{{ wazuh_image_dashboard }}"
    networks:
      - wazuh-net
    secrets:
      - source: dashboard_tls_key
        target: dashboard_tls_key
        mode: 0400
      - source: dashboard_tls_crt
        target: dashboard_tls_crt
        mode: 0444
    environment:
      TLS_KEY_FILE: "/run/secrets/dashboard_tls_key"
      TLS_CRT_FILE: "/run/secrets/dashboard_tls_crt"
      WAZUH_API_USER_FILE: "/run/secrets/wazuh_api_user"
      WAZUH_API_PASSWORD_FILE: "/run/secrets/wazuh_api_password"
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.labels.role == dashboard
      update_config:
        parallelism: 1
        delay: 10s
        failure_action: rollback
      rollback_config:
        parallelism: 1
        delay: 10s
